spring:
  application:
    name: produtosapi
  datasource:
    url: jdbc:postgresql://localhost:5432/produtosdb
    username: produtosuser
    password: produtospass
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
